{% extends "admin_base.html" %}
{% load static %}

{% block head_contents %}
   <link href="{% static 'css/adminpage.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
{% endblock head_contents %}

{% block explain_contents %}
<html>
<head>
	<!-- head contents here -->
</head>
<body>
<div class="projects mb-4">
	<div class="projects-inner">
		<header class="projects-header">
			<div class="title">가계부</div>
			<i class="zmdi zmdi-download"></i>
		</header>
		<table class="projects-table">
            <thead>
                <tr>
                    <th>정산 번호</th>
                    <th>아이디</th>
                    <th>지급액</th>
                    <th>요청일자</th>
                </tr>
            </thead>
            <tbody>
                {% for point_d_item in point_d_list %}
                <tr>
                    <td>{{ point_d_item.money_num }}</td>
                    <td>{{ point_d_item.user_name.username }}</td>
                    <td>{{ point_d_item.money_Payments }}</td>
                    <td>{{ point_d_item.money_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>
<script src="{% static 'js/admin.js' %}"></script>
</body>
</html>
{% endblock explain_contents %}
