{% extends "admin_base.html" %}
{% load static %}

{% block head_contents %}
<link href="{% static 'css/adminpage.css' %}" type="text/css" rel="stylesheet">
<meta charset="UTF-8">
{% endblock head_contents %}

{% block explain_contents %}
<div class="projects mb-4">
    <div class="projects-inner">
        <header class="projects-header">
            <form class="form" action="{% url 'adminpage:update_wonsi_verification' %}" method="POST">
                <div class="title">데이터 검증</div>
                {% csrf_token %}
                <div class="select-box" style="float:right">
                    <select class="action-box" name="state">
                        <option value="all">전체</option>
                        <option value="processing">처리 중</option>
                        <option value="rejected">반려</option>
                        <option value="approved">승인</option>
                    </select>
                    <button type="submit" name="action" value="filter">설정</button>
                </div>
            </form>
        </header>
        <table class="projects-table">
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>현황</th>
                <th>기능</th>
            </tr>
            </thead>
            <tbody>
            {% for data in Wonsi_List %}
            <tr>
                <td><a href="{% url 'adminpage:wonsi_data_detail' data.wonsi_num %}">{{ data.wonsi_num }}</a></td>
                <td><a href="{% url 'adminpage:wonsi_data_detail' data.wonsi_num %}">{{ data.title }}</a></td>
                <td>{{ data.username.username}}</td>
                <td>{{ data.date }}</td>
                <td>
                    {% if data.state == 0 %}
                    처리중
                    {% elif data.state == 1 %}
                    승인 완료
                    {% elif data.state == 2 %}
                    반려
                    {% endif %}
                </td>
                <td>
                    {% if data.state != 1 %}
                    <form class="form" action="{% url 'adminpage:update_wonsi_verification' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="wonsi_num" value="{{ data.wonsi_num }}">
                        <button type="submit" name=approve class="btn btn-primary">승인</button>
                        <button type="submit" name=reject class="btn btn-danger">반려</button>
                        <button type="submit" name=delete class="btn btn-dark">삭제</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div><br>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <span class="current-page">{{ num }}</span>
    {% else %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">다음</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
    {% endif %}
</div>

<script src="{% static 'js/admin.js' %}"></script>
{% endblock explain_contents %}
