{% extends "base2.html" %}
{% load static %}

{% block head_contents %}
<link href="{% static 'css/mysite.css' %}" type="text/css" rel="stylesheet">
<meta charset="UTF-8">
{% endblock head_contents %}

{% block explain_contents %}

<!-- 아코디언 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- INFO 테이블 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    font-family: 'NanumSquareNeo-Variable', Arial, sans-serif;
}

.half {
  flex-basis: 50%;
}
.item {
  height: fit-content;
  align-items: flex-end;
}
.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.my-table {
  width: 300px; /* 테이블의 너비를 100%로 설정 */
  margin: 15px 0px;
}
.my-table th, .my-table td {
  text-align: center; /* 모든 테이블 셀 내의 글자를 가운데 정렬 */
}
</style>

<div class="greenContainer" style="margin: 10px 50px;">
    <div>
        <!-- <div class="grade">GOLD</div> -->
        <div class="name" >My Page</div>
    </div>
    <div class="modify">정보 수정</div>
</div>

<div class="container">
    <div class="half"> <!-- 위쪽 내용 -->
        <div class="shippingStatusContainer">
            <div class="title">
                개인 정보 확인
            </div>
            <div class="item" style="display: flex; align-items: center;">
                <div class="item-content" style="margin: 0 30px">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="/static/image/루피.png" alt="개인사진" height="200px" width="200px">
                    </div>
                    <div class="table-container">
                        <table class="table table-bordered table-striped my-table">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>권한</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ user_info.name }}</td>
                                <td>{{ user_info.email }}</td>
                                <td>{{ user_info.authority }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item-content" style="margin: 0 30px">
                    <div class="item-content" style="display: flex; justify-content: center; margin: 20px 0 20px 0;">
                        <div style="margin: 0px 35px; white-space: nowrap;">
                            <div class="greennumber">{{ upload_posts_count }}</div>
                            <div class="text">총 데이터<br>수집</div>
                        </div>
                        <div style="margin: 0 35px; white-space: nowrap;">
                            <div class="greennumber">{{ labeling_posts_count }}</div>
                            <div class="text">승인<br>개수</div>
                        </div>
                    </div>
                    <br>
                    <div class="item-content" style="display: flex; justify-content: center; margin: 20px 0 20px 0;">
                        <div style="margin: 0 35px; white-space: nowrap;">
                            <div class="greennumber">{{ upload_posts_count }}</div>
                            <div class="text">총 라벨링<br>데이터</div>
                        </div>
                        <div style="margin: 0 35px; white-space: nowrap;">
                            <div class="greennumber">{{ labeling_posts_count }}</div>
                            <div class="text">승인<br>개수</div>
                        </div>
                    </div>
                </div>
                <div class="table-container" style="margin: 0 30px">
                    <div>
                        <h3 style="text-align: right; font-weight: bold;">총 정산 포인트<br>
                            <span style="font-weight: normal;">155,000P</span>
                        </h3>
                        <h3 style="text-align: right; font-weight: bold;">지급 예정 포인트<br>
                            <span style="font-weight: normal;">5,000P</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="half"> <!-- 아래쪽 내용 -->
        <div class="wrap">
            <div class="listContainer" style="margin: 20px; display: flex;">
                <div class="panel panel-default" style="flex: 1; margin: 5px;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">데이터 수집<span style="float: right;">▽</span></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">수집한 데이터 리스트 1</div>
                        <div class="panel-body">수집한 데이터 리스트 2</div>
                        <div class="panel-body">수집한 데이터 리스트 3</div>
                    </div>
                </div>
                <div class="panel panel-default" style="flex: 1; margin: 5px;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">데이터 라벨링<span style="float: right;">▽</span></a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">데이터 라벨링 리스트 1</div>
                        <div class="panel-body">데이터 라벨링 리스트 2</div>
                        <div class="panel-body">데이터 라벨링 리스트 3</div>
                    </div>
                </div>
                <div class="panel panel-default" style="flex: 1; margin: 5px;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">질의 응답<span style="float: right;">▽</span></a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" >
                        <div class="panel-body">질의 응답 리스트 1</div>
                        <div class="panel-body">질의 응답 리스트 2</div>
                        <div class="panel-body">질의 응답 리스트 3</div>
                    </div>
                </div>
            </div>
            <div class="infoContainer">
                <a href="#" class="item">
                    <div>icon</div>
                    <div>공지사항</div>
                </a>
                <a href="#" class="item">
                    <div>icos</div>
                    <div>이용안내</div>
                </a>
                <a href="#" class="item">
                    <div>icon</div>
                    <div>고객센터</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock explain_contents %}